@using CleanArchMvc.Application.DTOs;
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Product List";
}
<h1>Produtos</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Price.ToString("C")</td>
                            <td>@product.CategoryId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>